@font-face {
    font-family: 'MyFont';
    src: local('LENYA69'),
    url('AVIA.ttf') format('truetype');
}

html, body {
    height: 100%;
    margin: 0 0 0 0;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    color: black;
}

.image-wrap {
    position: relative;
}

.image {
    width: 100%;
    display: block;
    border-radius: 1vw;
    transition: opacity .5s;
}

.image-overlay {
    background: rgba(0, 0, 0, 0.25);
    border-radius: 1vw;
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity .5s;
}

.image-wrap:hover .image {
    opacity: 0;
    transition: opacity .5s;
}

.image-wrap:hover .image-overlay {
    opacity: 1;
    transition: opacity .5s;
}

.image-overlay-text-container {
    margin-top: 1.5vw;
    margin-left: 2vw;
    margin-right: 2vw;
}

.image-overlay-text {
    margin-top: 0.5vw;
    font-size: 100%;
    text-align: justify;
    text-justify: inter-word;
}

.image-overlay-link-container {
    margin-top: 1.5vw;
}

.image-overlay-link {
    text-align: center;
    color: white;
    font-size: 150%;
    transition: color 0.5s;
}

.image-overlay-link:hover {
    color: #9cff00;
    transition: color 1s;
}


.card {
    background-color: #419eff;
    border-radius: 0.75vw;
    color: white;
    padding: 0 .75vw;
    width: calc((100% - 2vw)/3); /* 3 columns with 1vw gap between */
    margin: 0.5vw; /* half of the 1vw gap on each side */
    float: left; /* necessary for Isotope fitRows */
    box-sizing: border-box;
}

.card-title {
    font-size: 150%;
    padding-top: 0.5vw;
    padding-bottom: 0.75vw;
}

.card-text {
    padding: 0.5vw;
    font-size: 100%;
    text-align: justify;
    text-justify: inter-word;
}

.container {
    display: flex;
    justify-content: center;


}

.grid-container {
    /grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    margin-top: 1vw;
    /gap: 1vw;
    min-height: calc(90vh - 1vw);
    /align-content: start;
    /grid-auto-flow: dense;
}

.box {
    max-width: 70vw;
    font-family: "MyFont";
    text-align: justify;
    text-justify: inter-word;
}

.title {
    font-size: 300%;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 4vh;
}

.text {
    font-size: 175%;
}

.filter-controls-body {
    background: #9f9f9f;
    position: sticky;
    top: 0;
    width: 100%;
    height: 10vh;
    z-index: 100;
    display: flex;

}

.filter-controls-container {
    width: 100%;
    margin: 1vw 15vw;
}

